html {
  background-color: #FFFFFF;
  color: #FFFFFF;
  font-size: 20px;
}

h1, h2, h3, h4 {
  color: #000000;
  margin-top: 30px;
  margin-bottom: 15px;
}

p {
  line-height: 1.5;
  margin-bottom: 20px;
}

ul {
  background: #000000;
  color: #FFFFFF;
  padding: 10px;
  border: 2px solid #FFFFFF;
}

li {
  background-color: #000000;
  margin: 15px 0;
  padding: 10px;
  overflow: hidden;
}

.noticias {
  background: #000000 !important;
  background-color: #000000;
  padding: 20px;
  border: 2px solid #FFFFFF;
}

.noticias a, .noticias a:link, .noticias a:visited, .noticias a:active {
  background-color: #000000;
  text-decoration: none !important;
  font-weight: bold;
}

.noticias a:hover {
  color: #222222 !important;
}

.noticias a:hover {
  color: #222222 !important;
}
